BasedOnStyle: LLVM
IndentWidth: 2
BinPackArguments: true
BinPackParameters: true
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLoopsOnASingleLine: true
AllowShortLambdasOnASingleLine: All
AllowShortFunctionsOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
# AllowShortCaseExpressionOnASingleLine: true
AllowShortBlocksOnASingleLine: true
ColumnLimit: 120
SortIncludes: CaseSensitive
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<'        # system headers
    Priority: 3
  - Regex: '^"dpc/'    # your project headers
    Priority: 1
  - Regex: '^"'        # other quoted headers (siblings)
    Priority: 2